In [1]:
import csv
import tqdm
import numpy as np
import pandas as pd

In [2]:
# %pip install requests urllib if needed

import requests
from urllib.parse import urlencode

base_url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?'

In [3]:
# public_key = 'https://disk.yandex.ru/d/I2h5KffMQh3Uzg'

# final_url = base_url + urlencode(dict(public_key=public_key))
# response = requests.get(final_url)
# download_url = response.json()['href']
# response = requests.get(download_url)

# dist_path = 'logs_season_1.csv.zip'
# with open(dist_path, 'wb') as f:
#     f.write(response.content)

In [4]:
public_key = 'https://disk.yandex.ru/d/LFKgJrXog_XmlQ'

final_url = base_url + urlencode(dict(public_key=public_key))
response = requests.get(final_url)
download_url = response.json()['href']
response = requests.get(download_url)

dist_path = 'test_season_3.csv.zip'
with open(dist_path, 'wb') as f:
    f.write(response.content)

In [5]:
# public_key = 'https://disk.yandex.ru/d/GSPiacfjLNzYlA'

# final_url = base_url + urlencode(dict(public_key=public_key))
# response = requests.get(final_url)
# download_url = response.json()['href']
# response = requests.get(download_url)

# dist_path = 'logs_season_3.csv.zip'
# with open(dist_path, 'wb') as f:
#     f.write(response.content)

In [6]:
import zipfile

with zipfile.ZipFile("test_season_3.csv.zip", 'r') as zip_ref:
    zip_ref.extractall("datasets")

In [7]:
df_3 = pd.read_csv("datasets/test_season_3.csv", sep=',')

In [8]:
df_3.head()

   Unnamed: 0  ... click
0           0  ...     0
1           1  ...     0
2           2  ...     0
3           3  ...     0
4           4  ...     0

[5 rows x 15 columns]

In [9]:
! rm -rf datasets/test_season_3.csv

In [10]:
from datetime import datetime

def extract_time_features(timestamp):
    ts_str = str(timestamp)
    ts_format = '%Y%m%d%H%M%S'
    dt = datetime.strptime(ts_str[:14], ts_format)  # Parse the datetime
    if dt.hour < 10:
        part_of_day = 1
    elif 10 <= dt.hour < 18:
        part_of_day = 2
    else:
        part_of_day = 3

    weekday = dt.weekday()
    weekend = 1 if weekday >= 5 else 2
    return part_of_day, weekday, weekend

df_3[['part_of_day', 'weekday', 'weekend']] = df_3['timestamp'].apply(
    lambda ts: pd.Series(extract_time_features(ts))
)

df_3.head()

   Unnamed: 0                            bid_id  ...  weekday weekend
0           0  b8c557a16cdd9cea7fa61df79bdb392d  ...        1       2
1           1  ce5a2b810ada0cad122508b4a9d1e2fd  ...        1       2
2           2  61fb95442aaa7cade3761b7f329a1e73  ...        1       2
3           3  7f9c3a72df3e4ded04870c08fcbcf72b  ...        1       2
4           4  de8192350f7e0f3223c43cf0c8cfb247  ...        1       2

[5 rows x 18 columns]

In [11]:
df_3.columns

Index(['Unnamed: 0', 'bid_id', 'timestamp', 'user_agent', 'region_id',
       'city_id', 'domain', 'ad_slot_width', 'ad_slot_height',
       'ad_slot_visibility', 'ad_slot_format', 'creative_id', 'advertiser_id',
       'user_profile_ids', 'click', 'part_of_day', 'weekday', 'weekend'],
      dtype='object')

In [12]:
df_3['click'].sum()

1155

In [13]:
len(df_3)

1579086

In [14]:
f"share of clicks = {df_3['click'].sum() / len(df_3)}"

'share of clicks = 0.0007314357799385214'

In [15]:
df_3.dtypes

Unnamed: 0             int64
bid_id                object
timestamp              int64
user_agent            object
region_id              int64
city_id                int64
domain                object
ad_slot_width          int64
ad_slot_height         int64
ad_slot_visibility    object
ad_slot_format        object
creative_id            int64
advertiser_id          int64
user_profile_ids      object
click                  int64
part_of_day            int64
weekday                int64
weekend                int64
dtype: object

In [16]:
values_to_fill = {"user_agent": "", "domain": "", "ad_slot_visibility": "other", "ad_slot_format": "other"}
df_3 = df_3.fillna(value=values_to_fill)

In [17]:
oses = ["windows", "ios", "mac", "android", "linux"]
browsers = ["chrome", "sogou", "maxthon", "safari", "firefox", "theworld", "opera", "ie"]
mobile_indicators = ["mobile", "iphone", "android"]

def parse_user_agent(user_agent):
    if type(user_agent) != str:
        print(user_agent)
    ua_lower = user_agent.lower()
    detected_os = next((os for os in oses if os in ua_lower), "other")
    detected_browser = next((browser for browser in browsers if browser in ua_lower), "other")
    device_type = True if any(indicator in ua_lower for indicator in mobile_indicators) else False
    return detected_os, detected_browser, device_type

df_3[['os', 'browser', 'device_type']] = df_3['user_agent'].apply(lambda ua: pd.Series(parse_user_agent(ua)))

df_3.head()

   Unnamed: 0                            bid_id  ...  browser device_type
0           0  b8c557a16cdd9cea7fa61df79bdb392d  ...       ie       False
1           1  ce5a2b810ada0cad122508b4a9d1e2fd  ...       ie       False
2           2  61fb95442aaa7cade3761b7f329a1e73  ...   chrome       False
3           3  7f9c3a72df3e4ded04870c08fcbcf72b  ...       ie       False
4           4  de8192350f7e0f3223c43cf0c8cfb247  ...   chrome       False

[5 rows x 21 columns]

In [18]:
values_to_fill = {"region_id": 0, "city_id": 0, "creative_id": 0, "advertiser_id": 0, "user_profile_ids": 0, }
df_3 = df_3.fillna(value=values_to_fill)

In [19]:
def calculate_screen_share(row):
    screen_area = row['ad_slot_width'] * row['ad_slot_height']
    if row['device_type'] == 1:  # mobile device
        display_area = 800 * 600
    else:  # desktop
        display_area = 1366 * 768
    return screen_area / display_area

df_3['ad_slot_screen_share'] = df_3.apply(calculate_screen_share, axis=1)
df_3.head()

   Unnamed: 0  ... ad_slot_screen_share
0           0  ...             0.026766
1           1  ...             0.071491
2           2  ...             0.038128
3           3  ...             0.071491
4           4  ...             0.062454

[5 rows x 22 columns]

In [20]:
final_df_3 = df_3.drop("timestamp", axis=1).drop("user_agent", axis=1).drop("ad_slot_width", axis=1).drop("ad_slot_height", axis=1)

In [21]:
final_df_3["is_mobile_device"] = final_df_3["device_type"]
final_df_3 = final_df_3.drop("device_type", axis=1)
final_df_3.head()

   Unnamed: 0  ... is_mobile_device
0           0  ...            False
1           1  ...            False
2           2  ...            False
3           3  ...            False
4           4  ...            False

[5 rows x 18 columns]

In [22]:
final_df_3.to_csv('parsed_test_data_no_extra_season_3.csv.zip', compression='zip')