In [1]:
import csv
import tqdm
import numpy as np
import pandas as pd
import zipfile
import os
import bz2

In [2]:
df = pd.read_csv("final_data_season_3.csv.zip", sep=',', compression='zip')
df.head()

   Unnamed: 0  ... is_mobile_device
0           0  ...            False
1           1  ...            False
2           2  ...            False
3           3  ...            False
4           4  ...            False

[5 rows x 16 columns]

In [3]:
categories = {
    10006: "Long-term interest/news",
    10024: "Long-term interest/education",
    10031: "Long-term interest/automobile",
    10048: "Long-term interest/real estate",
    10052: "Long-term interest/IT",
    10057: "Long-term interest/electronic game",
    10059: "Long-term interest/fashion",
    10063: "Long-term interest/entertainment",
    10067: "Long-term interest/luxury",
    10074: "Long-term interest/home and lifestyle",
    10075: "Long-term interest/health",
    10076: "Long-term interest/food",
    10077: "Long-term interest/divine",
    10079: "Long-term interest/motherhood&parenting",
    10083: "Long-term interest/sports",
    10093: "Long-term interest/travel&outdoors",
    10102: "Long-term interest/social",
    10684: "In-market/3c product",
    11092: "In-market/appliances",
    11278: "In-market/clothing, shoes&bags",
    11379: "In-market/Beauty& Personal Care",
    11423: "In-market/household&home improvement",
    11512: "In-market/infant&mom products",
    11576: "In-market/sports item",
    11632: "In-market/outdoor",
    11680: "In-market/health care products",
    11724: "In-market/luxury",
    11944: "In-market/real estate",
    13042: "In-market/automobile",
    13403: "In-market/finance",
    13496: "In-market/travel",
    13678: "In-market/education",
    13776: "In-market/service",
    13800: "Long-term interest/art&photography&design",
    13866: "Long-term interest/online literature",
    13874: "In-market/electronic game",
    14273: "Long-term interest/3c",
    16593: "In-market/book",
    16617: "In-market/medicine",
    16661: "In-market/food&drink",
    16706: "Long-term interest/culture",
    16751: "Long-term interest/sex",
    10110: "Demographic/gender/male",
    10111: "Demographic/gender/female"
}

In [4]:
def parse_user_profile(user_profile_ids):
    if user_profile_ids == "null":
        return pd.Series({
            'is_male': False,
            'is_long_term_interest': False,
            'is_in_market': False,
            'category_terms': ''
        })
    profile_ids = map(int, user_profile_ids.split(','))
    is_male = any(id_ == 10110 for id_ in profile_ids)
    is_long_term_interest = any("Long-term" in categories.get(id, '') for id in profile_ids)
    is_in_market = any("Long-term" in categories.get(id, '') for id in profile_ids)
    categories_set = {categories[id_].split('/')[-1] for id_ in profile_ids if id_ in categories}
    return pd.Series({
        'is_male': is_male,
        'is_long_term_interest': is_long_term_interest,
        'is_in_market': is_in_market,
        'category_terms': ', '.join(categories_set)
    })

In [5]:
def parse_clk_logs(input_dir):
    clk_logs = []
    tags_final = pd.DataFrame(columns=["bin_id", "user_profile_ids"])
    for file in tqdm.tqdm(os.listdir(input_dir)):
        if not file.startswith("imp"):
            continue
        print(file)
        with bz2.open(os.path.join(input_dir, file), "rt") as bz_file:
            for line in bz_file:
                l = line.rstrip('\n').split('\t')
                clk_logs.append([l[0], l[-1]])
        tags = pd.DataFrame(clk_logs, columns=["bin_id", "user_profile_ids"])
        tags_features = tags['user_profile_ids'].apply(parse_user_profile)
        tags_final = pd.concat([tags_final, tags.join(tags_features)])
    return tags_final

In [6]:
tags_final = parse_clk_logs("clk_and_imp_season_3")
tags_final.head()

 10%|‚ñà         | 1/10 [01:01<09:11, 61.23s/it]/tmp/ipykernel_12346/2155272012.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  tags_final = pd.concat([tags_final, tags.join(tags_features)])
 20%|‚ñà‚ñà        | 2/10 [02:25<10:00, 75.07s/it]/tmp/ipykernel_12346/2155272012.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  tags_final = pd.concat([tags_final, tags.join(tags_features)])
 30%|‚ñà‚ñà‚ñà       | 3/10 [04:57<12:48, 109.82s/it]/tmp/ipykernel_12346/2155272012.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  tags_final = pd.concat([tags_final, tags.join(tags_features)])
 40%|‚ñà‚ñà‚ñà‚ñà      | 4/10 [08:21<14:42, 147.02s/it]/tmp/ipykernel_12346/2155272012.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  tags_final = pd.concat([tags_final, tags.join(tags_features)])
 50%|‚ñà‚ñà‚ñà‚ñà‚ñà     | 5/10 [12:49<15:53, 190.67s/it]/tmp/ipykernel_12346/2155272012.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  tags_final = pd.concat([tags_final, tags.join(tags_features)])
 60%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà    | 6/10 [21:00<19:31, 292.86s/it]/tmp/ipykernel_12346/2155272012.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  tags_final = pd.concat([tags_final, tags.join(tags_features)])
 70%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà   | 7/10 [30:11<18:51, 377.23s/it]/tmp/ipykernel_12346/2155272012.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  tags_final = pd.concat([tags_final, tags.join(tags_features)])
 80%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà  | 8/10 [42:45<16:34, 497.12s/it]IOStream.flush timed out
/tmp/ipykernel_12346/2155272012.py:13: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  tags_final = pd.concat([tags_final, tags.join(tags_features)])
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 10/10 [56:06<00:00, 336.61s/it]

                             bin_id  ... category_terms
0  dbe06f7b386d619d3ab4dde3c93ed6d3  ...  entertainment
1  9d41c92515ba05d44fe6d9aa5a28fd69  ...
2  c5e7563166c1f5477478371d937e9eb0  ...
3   dd5c2a9324de82aa07af8ce0cf4e348  ...
4  709b7cffadaefd399738439386ece34d  ...

[5 rows x 6 columns]

In [8]:
df = df.merge(tags_final, left_on='bid_id', right_on='bin_id', how='left')
df.head()

   Unnamed: 0                            bid_id  ...  is_in_market  category_terms
0           0  9aa9b28f32adfc833634f28bb9703e83  ...           NaN             NaN
1           1  1ede4e457f5031ec1640dbe1259a4616  ...           NaN             NaN
2           2  fca79371fc0f67ac6264f558bc664fd6  ...           NaN             NaN
3           3  7717c608f688ea3b087e292c91604ea5  ...           NaN             NaN
4           4  35528d946791bc45b75ded2a2dbdabfe  ...           NaN             NaN

[5 rows x 22 columns]

In [4]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

                             bid_id  region_id  ...  is_in_market category_terms
0  9aa9b28f32adfc833634f28bb9703e83        216  ...           NaN            NaN
1  1ede4e457f5031ec1640dbe1259a4616        216  ...           NaN            NaN
2  fca79371fc0f67ac6264f558bc664fd6        216  ...           NaN            NaN
3  7717c608f688ea3b087e292c91604ea5        183  ...           NaN            NaN
4  35528d946791bc45b75ded2a2dbdabfe          3  ...           NaN            NaN

[5 rows x 21 columns]

In [5]:
df = df.drop('bin_id', axis=1)

In [6]:
clusters = {
    "is_info_cat": ["news", "education", "book","online literature", "IT", "finance"],
    "is_products_cat": [ "3c product", "clothing, shoes&bags", "sports item", "appliances", "health care products"],
    "is_service_cat": ["real estate", "service", "medicine", "health"],
    "is_entertainment_cat": ["entertainment", "electronic game", "travel", "art&photography&design",
                            "outdoor", "sports", "travel&outdoors",  "automobile",
                            "food&drink", "culture", "sex", "luxury", "home and lifestyle",
                            "food", "divine", "social"],
    "is_girly_cat": ["fashion", "Beauty& Personal Care", "motherhood&parenting", "household&home improvement",
                    "infant&mom products"],

}

In [7]:
def check_cluster(row, category_list):
    if pd.isna(row):
        return False
    present_categories = set(row.split(', '))
    return any(cat in present_categories for cat in category_list)

for cluster_name, category_list in clusters.items():
    df[cluster_name] = df['category_terms'].apply(lambda x: check_cluster(x, category_list))
df.head()

                             bid_id  ...  is_girly_cat
0  9aa9b28f32adfc833634f28bb9703e83  ...         False
1  1ede4e457f5031ec1640dbe1259a4616  ...         False
2  fca79371fc0f67ac6264f558bc664fd6  ...         False
3  7717c608f688ea3b087e292c91604ea5  ...         False
4  35528d946791bc45b75ded2a2dbdabfe  ...         False

[5 rows x 25 columns]

In [8]:
pd.unique(df['user_profile_ids']), len(pd.unique(df['user_profile_ids']))

(array([nan, '13866', '10063', ...,
        '14273,10083,10102,10006,10031,10111,10114,10063',
        '10048,10057,10684,13496,10093,10102,10006,10123,10147,13403,10063,10116',
        '10048,10057,10059,10684,14273,10077,10093,10102,13866,10006,10111,10146,10052,16753,10063'],
       dtype=object),
 745661)

In [10]:
df = df.drop('user_profile_ids', axis=1).drop('category_terms', axis=1)

In [11]:
df.dtypes

bid_id                    object
region_id                  int64
city_id                    int64
ad_slot_visibility        object
ad_slot_format            object
creative_id                int64
advertiser_id              int64
—Ålick                       bool
part_of_day                int64
weekday                    int64
weekend                    int64
os                        object
browser                   object
ad_slot_screen_share     float64
is_mobile_device            bool
is_male                   object
is_long_term_interest     object
is_in_market              object
is_info_cat                 bool
is_products_cat             bool
is_service_cat              bool
is_entertainment_cat        bool
is_girly_cat                bool
dtype: object

In [13]:
df['click'] = df['—Ålick']
df = df.drop('—Ålick', axis=1)
df['click']

0           False
1           False
2           False
3           False
4           False
            ...
21341590    False
21341591    False
21341592    False
21341593    False
21341594    False
Name: click, Length: 21341595, dtype: bool

In [14]:
df.to_csv("parsed_final_data_season_3.csv.zip", compression='zip')